uploads/businesspartners/payment_proofs/
uploads/customer/national_id_photo/
uploads/customer/profile/
uploads/customer/profile_image/
uploads/luckydraw/prizes/
uploads/luckydraw/prizetransactions/
uploads/luckydraw/templates/
uploads/payment/
uploads/profile/